{% extends "base.html" %}
{% load auth_extras %}

{% block title %} Main Homepage {% endblock %}
{% block content %}

<br>
<h1 class="text-center">Welcome to MowIT</h1>
{% if user.is_authenticated %}
<p style="text-align:center">Hello, {{request.user.username}}</p>

<!-- If the user is a contractor, this will show the contractor side of the homepage -->
{% if request.user|in_group:"Contractor" %}
    <p style="text-align:center">You are signed in as a Contractor</p>
    <br>
    {% include "contractor_dashboard.html" %}

<!-- If the user is a customer, this will show the customer side of the homepage -->
{% elif request.user|in_group:"Customer" %}
    <p style="text-align:center">You are signed in as a Customer</p>
    <br>
    {% include "customer_dashboard.html" %}

<!-- If the user is not a customer or contractor a message will pop up saying that they are not in a group -->
{% else %}
    <p style="text-align:center">Not in a group</p>
{% endif %}

{% if user.is_superuser %}
    <p style="text-align:center">You are signed in as a Admin</p>
    <p style="text-align:center">To go to the admin dashboard press the button below</p>
    <div style="display: flex; justify-content: center; ">
     <button type="button" class="center"  onclick="location.href='/admin/'">Admin Page</button>
    </div>
{% endif %}
</div>
<br>


{% else %}
<!-- Main homepage with information about the app -->
<!-- This page will show up when user has not log in -->
{%include "main_homepage.html"%}
<div class = "text-xl-center">
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
</div>
{% endif %}
{% endblock %}

