<!-- Information about Mowit, shows up in the homepage when user is not signed in -->
<br>
{% load static %}
<center>
<img src="{% static 'images/lawn-mower-g33f14ae69_1920.jpg' %}" class="Background"
style="object-fit: contain;
      height: 400px;
      ">
</center>

<br>
<br>
<center style="text-align: justify; margin: auto; width: 20%;">
  <div   >
    <h1>Need your lawn cut?</h1>
    <p>Allows you to search for lawn care services within your area with the touch of a button.</p>
  </div>
  <div  >
    <h1>Need cash?</h1>
    <p>Gives you the opportunity to make extra cash by servicing people's yard.</p>
  </div>
  <div  >
    <h1>Get The App!</h1>
  </div>
  <br>
<img src="{% static 'images/mowitapp.PNG' %}" alt="Mobile App" style="height: 700px">
</center>
