<!-- Information about Mowit, shows up in the homepage when user is not signed in -->
<br>
{% load static %}
<center>
<img src="{% static 'images/lawn-mower-g33f14ae69_1920.jpg' %}" class="Background"
style="object-fit: contain;
      height: 400px;
      border-radius: 25px;
      ">
</center>

<br>
<br>
<div style=" width: 900px; margin: 0 auto; display: flex;">
  <div style="width: 50%; margin-right: 25px;">
  <div style="width: 100%; float: right; border: 1px solid #808080; border-radius: 25px; margin-bottom: 50px; margin-top: 50px; padding: 10px;">
    <h1>Need your lawn cut?</h1>
    <p>Allows you to search for lawn care services within your area with the touch of a button.</p>
  </div>
  <div style="width: 100%; float: right; border: 1px solid #808080; border-radius: 25px; padding: 10px;">
    <h1>Need cash?</h1>
    <p>Gives you the opportunity to make extra cash by servicing people's yard.</p>
  </div>
</div>
  <div style=" width: 50%; margin-left: 25px; text-align: center;">
    <h1>Get The App!</h1>
    <img src="{% static 'images/mowitapp.PNG' %}" alt="Mobile App" style="max-width: 75%;">
  </div>
  
</div>
  
  


