{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="content-section">
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ user.profile.image.url }}"
      />
    </div>

      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>

<br>
    <div style="position: absolute; top: 80px; left: 500px; ">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="font-weight: bold">Profile Info</legend>
          {{ updateform|crispy }}
        </fieldset>

        <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="font-weight: bold">Personal Info</legend>
          {{ infoupdateform|crispy }}
        </fieldset>

        <fieldset class="form-group">
          <legend class="border-bottom mb-4" style="font-weight: bold">Change Image</legend>
          {{ profileform|crispy }}
        </fieldset>

        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
