{% extends "contractor_base.html" %}
{% block title %} Contractor Registration {% endblock %}
{% block content %} 
{% load crispy_forms_tags %}         

<div class="container py-5">
	
	<h1>Contractor Register</h1>
	<div>
		<form method="POST">
			{% csrf_token %}
			{{ contractor_register_form|crispy }}                    
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
	</div>
	{{contractor_form.errors}}
	<p class="text-center">If you already have an account, <a href="/contractor/login">login</a> instead.</p>
</div>




<!-- Message shows up when user is either register successfully or unsucessfully  -->
<div class = "text-xl-center">
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
</div>
{% endblock %}